* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: sans-serif;
}


.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}


.header {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 5em;
    background-color: #2D3142;
}

.logo {
    margin-right: 0.5em;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    /* background-color: blue; */
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}

.navbar-button {
    margin: 0 1em;
    /* background-color: red; */
}


/* Contents */
.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #4F5D75;
}

/* Featured Photo */
.featured-photo-container {
    padding: 20px 25px;
    gap: 20px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.featured-photo {
    flex: auto;
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: gray;
    border: 2px solid black;
}


/* Previous Projects */
.previous-projects-container {
    flex: auto;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: blue; */
    gap: 20px;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    /* background-color: beige; */
}

.project-button {
    display: flex;
    flex-direction: column;
}

.project-image {
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: gray;
    border: 2px solid black;
}

/* Skills and Autobiography */
.skills-bio-container {
    padding: 20px 25px;
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    /* background-color: green; */
}

.skills {
    flex: auto;
    /* background-color: yellow; */
}

.skills p {
    text-align: justify;
}

.autobiography {
    flex: auto;
    /* background-color: pink; */
}

.autobiography p {
    text-align: justify;
}

/* Footer */
.footer {
    height: 7.5em;
    background-color: #2D3142;
}